POSTGRES_USER=iot_admin
POSTGRES_PASSWORD=iot_password_dev
POSTGRES_DB=iot_dashboard_dev
# Pour éviter d'éventuel conflit avec une installation locale de PostgreSQL
# Le port exposé par la machine sera le 5433
# Le port interne du conteneur restera le port par défaut : 5432 (cf. compose.yaml)
POSTGRES_HOST_PORT=5433