@use './vars';

body {
    background-color: vars.$background-color;
    color: vars.$primary-text-color;
    font-family: vars.$primary-font;
    font-size: vars.$body-txt-size;
    font-weight: vars.$body-txt-weight;
}