@use './vars';

body {
    background-color: vars.$background-color;
    color: vars.$primary-text-color;
    font-family: vars.$primary-font;
    font-size: vars.$body-txt-size;
    font-weight: vars.$body-txt-weight;
}

.section {
    margin: 1rem;
}

// Classe "screen reader" only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}