@use '../../../styles/vars';

.header {
    padding: 2rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;

    :focus-visible {
        outline: 2px solid vars.$primary-color;
        outline-offset: 10px;
        border-radius: 999px;
    }

    &__logo {
        height: auto;
        width: 50px;
    }

    .main-title {
        font-size: vars.$h1-txt-size;
        font-weight: vars.$h1-txt-weight;
        color: vars.$primary-color-dark;
    }
}